<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rating.value %>
</p>

<p>
  <strong>Game:</strong>
  <%= @rating.game %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
