<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h5>Game Title</h5>
    <%= form.text_field :title, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <h5>Game Description</h5>
    <%= form.text_area :description, class: "form-control input-lg" %>
  </div>
  
  <div class="form-group">
    <h5>Upload image</h5>
    <%= form.file_field :image, id:"file-input", class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <h5>The creator of the game</h5>
    <%= form.text_field :creator, placeholder: "William", class: "form-control input-lg" %>
  </div>
  
   <div class="form-group">
    <h5>Game URL</h5>
    <%= form.text_field :url, placeholder: "https://www.openprocessing.org/sketch/444223", class: "form-control input-lg" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Game', class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
