<p id="notice"><%= notice %></p>

<h1>Games <%= link_to 'Add Game', new_game_path, class: "btn btn-primary btn-lg" %></h1>



<center>
<% @games.each do |game| %>
    <div class="jumbotron"style="max-width: 700px">
      <%= image_tag game.image(:large), class: 'img-responsive' %>
      <h3><%= link_to game.title, game %></h3>
      
      <%= link_to 'Play Game', game.url, class: "btn btn-danger btn-md" %>
      
      
      
<% if user_signed_in? %>
<% if current_user.id == 1 %>
<br>
    <%= link_to 'Edit', edit_game_path(game), class: "btn btn-danger btn-sm" %>
 
  <% end %>
<% end %>
</div>
<% end %>
</center>
<br>



