<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @game.creator %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @average_rating %>
</p>

<%= image_tag @game.image, class: 'img-responsive' %>

<p>
  <strong>User:</strong>
  <%= @game.user %>
</p>

<%= link_to 'Rate this Game', new_game_rating_path(@game), class: "btn btn-primary btn-sm" %>
<%= link_to 'Post a Comment', new_game_comment_path(@game), class: "btn btn-primary btn-sm" %>
<li><%= link_to 'Back', games_path, class: "btn btn-primary btn-sm" %></li>
  
  <% @comments.each do |comment| %>
    <h4><%= comment.body %> posted by <%= comment.user.email %></h4>
  <% end %>
